body {
    background-image:url(/home/imgs/dotbg.png);
}
.main {
    border: 2px dotted #7d798d; 
    border-radius: 10px;
    background-color: #f8fdea;
    margin: auto; 
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}
.mainttl {
    border: 2px dotted #7d798d; 
    border-radius: 10px;
    margin: auto; 
    margin-bottom: 2%;
    margin-top: 2%;
    background-image:url(/home/imgs/cloverbg.png);
    background-size: cover;
    padding: 5%;
}
.container {
    margin: auto; 
    width: 60%; 
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}
h1 {
    text-align: left;
}