body {
    background-image:url(/home/imgs/dotbg.png);
}
.main {
    border: 2px dotted #7d798d; 
    border-radius: 10px;
    background-color: #f8fdea;
    margin: auto; 
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 1%;
    padding: 2%;
}
.mainttl {
    border: 2px dotted #7d798d; 
    border-radius: 10px;
    margin: auto; 
    margin-bottom: 2%;
    margin-top: 2%;
    background-image:url(/home/imgs/cloverbg.png);
    background-size: cover;
}
.container {
    margin: auto; 
    width: 60%; 
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1 {
    text-align: left;
}
.darumadrop {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gamja {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pixel {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hachimaru {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}
.crafty {
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style: normal;
}
.bigttl {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f8fdea;
    text-shadow:
    4px 3px 0 #5d85b3, 
    2px -4px 0 #5d85b3, 
    -2px -4px 0 #5d85b3, 
    -4px 3px 0 #5d85b3;
}   
  